<div class="border border-info">
    <nav class="navbar navbar-expand-lg navbar-back bg-black">
        <a class="navbar-brand">
            <img src="../../../assets//img//OSIM_logo.png" width="120" alt="logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['home']">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['galeria']"> Secciones </a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['registro']"> Quiero ser parte de OSIM</a>
                </li>
            </ul>
        </div>
    </nav>
</div>