<div class="row container">
    <section class="col-lg-9">
        <div class="m-4">
            <h3 class="">Ser afiliado de OSIM</h3>
            <div class="titulo">
                <img class="float-right" src="../../../assets/img/osim_afiliarme.jpg" width="330" alt="ban4">
                <p> Si usted está buscando una Obra Social de Dirección OSIM es su mejor elección, porque cuenta con:
                </p>
                <ul class="lista">
                    <li> Planes médico asistenciales más prestigiosos del país</li>
                    <li> Servicios especialmente desarrollados para brindarle una mejor atención</li>
                    <li> El respaldo y trayectoria de más de 44 años de experiencia en el mercado de la Salud.</li>
                </ul>
                <p>Si desea recibir asesoramiento comercial sobre el trámite a seguir comuníquese con nosotros, lo
                    estaremos
                    esperando para brindarle asistencia a todas sus consultas.</p>
                <br />
                <p> Por favor complete a continuación sus datos para que podamos contactarnos con Usted y
                    seleccione Enviar</p>
            </div>
            <div>
                <form class="">
                    <div class="datos">
                        <label for="Usuario">*Nombre</label>
                        <br>
                        <input type="text" name="usuario" placeholder="Usuario">
                    </div>
                    <div class="datos">
                        <label for="Contraseña">*Contraseña:</label>
                        <br>
                        <input type="password" name="contraseña" placeholder="Ingrese su contraseña">
                    </div>
                    <div class="datos">
                        <label for="Contraseña2">*Repita la contraseña:</label>
                        <br>
                        <input type="password" name="contraseña2" placeholder="Ingrese nuevamente su contraseña">
                    </div>
                    <div class="datos">
                        <label for="E-mail">*Email:</label>
                        <br>
                        <input type="mail" name="mail" placeholder="Ingrese su e-mail">
                    </div>
                    <div class="datos">
                        <label for="Email2">*Repita el Email:</label>
                        <br>
                        <input type="mail" name="mail2" placeholder="Reingrese su e-mail">
                    </div>
                    <div class="opcion">
                        <label for="lista">Lista de Mail:</label>
                        <br>
                        <form>
                            <div class="opciones">
                                <input type="radio" name="option" value="si">
                                <label for="radio">Si</label>
                                <input type="radio" name="option" value="no">
                                <label for="radio">No</label>
                            </div>
                        </form>
                    </div>
                    <div class="datos">
                        <label for="nombre">*Nombre/Genero</label>
                        <br>
                        <input type="text" name="nombre" placeholder="Nombre">
                    </div>
                    <div class="opcion">
                        <label for="sexo">Sexo:</label>
                        <br>
                        <form>
                            <div class="opciones">
                                <input type="radio" name="hm" value="h">
                                <label for="radio">Masculino</label>
                                <input type="radio" name="hm" value="m">
                                <label for="radio">Femenino</label>
                            </div>
                        </form>
                    </div>
                    <div class="datos">
                        <label for="fecha">*Fecha de Nacimiento:</label>
                        <br>
                        <input type="date" name="fecha" placeholder="ingrese fecha ">
                    </div>
                    <div class="opcion">
                        <label for="pais"> Pais</label>
                        <br>
                        <select name="pais">
                            <option value="1">Argentina</option>
                            <option value="2">Brasil</option>
                            <option value="3">Chile</option>
                            <option value="4">Bolivia</option>
                            <option value="5">Peru</option>
                            <option value="6">Uruguay</option>
                        </select>
                    </div>
                    <div class="text-center mt-2">
                        <input type="submit" class="btn btn-outline-primary col-md-3 m-3">
                        <input type="reset" class="btn btn-outline-primary col-md-3 m-3" value="Cancelar">
                    </div>
                </form>
            </div>
        </div>
    </section>
    <aside class="col-lg-3 d-none d-md-block">
        <div class="mt-5 border">
            <img src="../../../assets/img/publicaciones_tapas_banner.jpg" class="banner-img card-img-top" alt="banner">
            <p class="text-center">Nuestas Publicaciones.</p>
        </div>
        <div class="mt-5 border">
            <img src="../../../assets/img/banner_programas_prevencion.jpg" alt="banner2"
                class="banner-img card-img-top">
            <p class="text-center">Prevención y promoción de la salud para afiliados y empresas.</p>
        </div>
    </aside>
</div>